<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>241850741858-45fti9c8f018jk4uiochfs424k0bbuqi.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.241850741858-45fti9c8f018jk4uiochfs424k0bbuqi</string>
	<key>API_KEY</key>
	<string>AIzaSyBhaH7uVMf6o9ZnUWqBsVcpEap4CID8g1E</string>
	<key>GCM_SENDER_ID</key>
	<string>241850741858</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>gachi</string>
	<key>PROJECT_ID</key>
	<string>fat-secret-6d8d8</string>
	<key>STORAGE_BUCKET</key>
	<string>fat-secret-6d8d8.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:241850741858:ios:08bfe1389605b77b528d3b</string>
	<key>DATABASE_URL</key>
	<string>https://fat-secret-6d8d8.firebaseio.com</string>
</dict>
</plist>